.paginator-wrapping {
    display: flex;
    margin-top: 10px;
    justify-content: center;
    width:100%;
}

.paginator-wrapping > div:not(:first-child) {
    margin-left: 5px;
}

.my-input {
    padding: 0.25em 0.5em;
    background-color: #fff;
    border: 1px solid #ccc;
    text-align: right;
}